body {
    background-color: #003399; /* NS/Veerboot Blauw */
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    overflow: hidden; /* Geen scrollbalken */
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* De balk bovenin */
header {
    background-color: #ffcc00; /* Signaal Geel */
    color: #003399;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2.5em; /* Lekker groot */
    font-weight: bold;
    height: 10vh;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
}

/* Het middenstuk */
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* De huidige halte (Groot) */
#huidige-halte {
    font-size: 8em; /* GIGANTISCH */
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 4px 4px 0px #000;
}

#volgende-tekst {
    font-size: 2em;
    color: #cccccc;
    margin-top: 20px;
}

/* De balk onderin (Optioneel) */
footer {
    background-color: #002266;
    height: 5vh;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-size: 1.2em;
}